@import "style";

.i-w {
    color: white;
}

.navbar-inverse .nav > li > a {
    color: #999;
    text-shadow: 0 -1px 0 rgba(0,0,0,0.25);
}

.navbar-inverse .nav > li > a:hover {
    background-color: transparent;
}

.quick-actions-icon {
    width: 32px;
    height: 32px;
    display: block;
    margin: 0 auto 5px;
    font-size: 30px;
}

.delete-confirmation {
    cursor: pointer;
}

.stat-boxes {
    width: 100%;
    border: 1px solid #d4d5d1;
    list-style: none;
    padding: 0;
    display: block;

    > li {
        display: flex;
        width: 100%;
        flex-direction: row;
        border-bottom: 1px solid #d4d5d1;

        > div.left {
            width: 75px;
            height: 75px;
            display: flex;
            justify-content: center;
            align-items: center;
            border-right: 1px solid #d4d5d1;
        }

        > div.right {
            height: 75px;
            display: flex;
            align-items: center;
            flex-wrap: wrap;
            padding: 5px;

            > strong {
                flex-basis: 100%;
                font-size: 25px;
            }
        }
    }
}

.profile-picture {
    max-width: 74px;
    border: 0;
    border-radius: 50%;
}
