html, body {
    min-height: 100%;
    min-height: 100vh;
}

body {
    background-color: #2E363F;
    padding: 0;
}

.basicbox {
    width: 32%;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    overflow: hidden !important;
    text-align: left;
}

.vertical-center {
    min-height: 100%;
    min-height: 100vh;

    display: flex;
    align-items: center;
}

.centerform {
    width: 100%;
    background: #fff;
    position: relative;
    top: 0;
    left: 0;
}

.centerform .form-group {
    padding: 0 20px;
}

.basicbox .normal_text {
    padding: 15px 10px;
    text-align: center;
    font-size: 14px;
    line-height: 20px;
    background: #49CCED;
    color: #fff;
}

.inline-align {
    width: 100%;
    white-space: nowrap;
}

.inline-align-left {
    display: inline-block;
    width: 50%;
    text-align: left;
}

.inline-align-right {
    display: inline-block;
    width: 49%;
    text-align: right;
}

@media (max-width: 480px) {
    .basicbox {
        width: 90%;
    }
}

.title {
    text-shadow: 2px 2px 2px rgba(150, 150, 150, 1);
}